:root {
    --neue-font: 'Neue Haas Grotesk Display Pro', sans-serif;
    --akira-font: 'Akira Expanded', sans-serif;      
}

@font-face {
    font-family: 'Akira-tildes';
    src: url(img/akira-expanded-bold.ttf);
}

/* Reset CSS */

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}

/* Utilities */

p {
    margin-bottom: 0;
}

.red {
    color: red;
}

.border {
    border: thin solid white;
}

.capa-inicio {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .25);
}

/* Barra de navegación */

a {
    outline: none;
    text-decoration: none;
    color: white;
}

.navbar-propio {
    z-index: 10;
    padding: 1.2rem;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .9);;
    align-items: center;
    justify-content: center;
}

.navbar-propio .logo-visions {
    color: black;
    padding: .1rem .1rem;
    background: white;
    font-family: 'Akira Expanded', sans-serif;                                               
}

.navbar-propio .opciones-seccion {
    display: flex;
    flex-grow: 1;
    position: relative;
    top: .5rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 6rem;
}

.navbar-propio .opciones-seccion li {
    list-style: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: .8rem;                                                
    color: white;
    margin-left: 1.5rem;
}

/* FOOTER */

.footer {
    background-color: black;
    width: 100%;
    height: 7rem;
    font-family: var(--neue-font);
}

.redes-sociales .redes{
    margin-left: auto;
    margin-right: auto;
}

.redes i {
    margin-right: 1rem;
}

/* SECCIÓN INICIO */

#inicio {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#inicio video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

#inicio .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .0); */
}

/* Primer página */

.container-propio {
    display: flex;
    width: 100%;
    height: 100vh;
}

.column1, 
.column2 {
    flex-grow: 1;
}

/* Lado izquierdo desktop */

.column1 {
    position: relative;
    padding: 1rem;
}

.column1 .cuadrado1 {
    position: absolute;
    top: 2.2rem;
    left: 1.5rem;
    height: 50vh;
    width: 48%;
    background-color: black;
    padding: 20px;
    background-image: url(img/luna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: groove solid black;
}

.column1 .cuadrado2 {
    border: groove solid black;
    position: absolute;
    bottom: 3rem;
    right: 7rem;
    height: 35vh;
    width: 60%;
    background-image: url(img/fogata.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.column1 .cuadrado3 {
    border: groove solid black;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 53vh;
    width: 45%;
    padding: 2rem;
    background-color: black;
    padding: 20px;
    background-image: url(img/faro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cuadrado1:hover,
.cuadrado2:hover,
.cuadrado3:hover {
    transform: scale(1.02);
    transition: all .3s;
}

/* Lado derecho desktop */

.column2 {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}


.titulo1 {
    font-family: 'Akira-tildes';
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    bottom: 27px;
    text-align: center;
    margin-right: 2rem;
    margin-left: 1.5rem;
}

.titulo-efecto {
    color: rgb(255, 255, 255);
    font-size: 2rem; /* Cambio de tamaño durante la transición */
    /* text-shadow: 0 0 2px rgb(255, 255, 255); */
    transition: color 1s ease, font-size 1s ease !important;
}

.column2 .presentacion {
    background-color: black;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: .96rem;
    padding: 1rem .5rem;
    line-height: 1.4rem;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}


.column2 .btn-a-trabajos {
    padding: .4rem;
    border: thin solid white;
    background-color: rgba(0, 0, 0, 1);
    font-size: .9rem;
    border-radius: 1rem;
    margin-top: .5rem;
    font-family: var(--neue-font);
}

.btn-a-trabajos:hover {
    color: white;
    border-color: black;
    transition: all .5s;
}

/* SECCIÓN CONOCENOS */

#conocenos {
    height: 100vh;
    width: 100%;
    background-image: url(img/cuervo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.column1-conocenos,
.column2-conocenos {
    flex: 0 0 50%;
}

.column1-conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1-conocenos img:hover {
    transform: scale(1.05);
    transition: all .3s;
}

.column1-conocenos .descripcion {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: var(--neue-font);
    color: white;
    padding: 2rem;
    font-size: .96rem;
    margin-left: 1.5rem;
    width: 70%;
    line-height: 1.5rem;
}

.descripcion img {
    align-self: center;
    margin-bottom: 2rem;
    width: 70%;
    height: auto;
}

.column2-conocenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.column2-conocenos video {
    width: 90%;
    position: relative;
    height: auto;
}

.iconos {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

.iconos a {
    margin-right: 1rem;
}

.iconos a:hover {
    color: red;
    transition: all .3s;
}

/* S E C C I Ó N  S E R V I C I O S */

#servicios {
    background-image: url(img/fondodeservicios.jpg);
}

.capa-servicios {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, .1);
    z-index: 2;
}

#servicios video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
}

#servicios {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.titulo-servicios {
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    padding-top: 2rem;
    z-index: 3;
    font-family: 'Akira-tildes';
}

.container-servicios {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    z-index: 3;
}

.container-servicios .servicio {
    flex: 0 0 45%;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: black;
    color: white;
    position: relative;
}

.servicio video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-servicios .servicio:hover {
    transform: scale(1.03);
    transition: all .3s;
}

.container-servicios .multimedia {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.multimedia .titulo {
    position: absolute;
    top: .4rem;
    padding: .5rem 1rem;
    left: .5rem;
    font-size: .8rem;
    font-family: 'Akira-tildes';
    background-color: rgb(0, 0, 0);
    border-radius: .4rem;
}

@font-face {
    font-family: 'Akira-tildes';
    src: url(img/akira-expanded-bold.ttf);
}

.descripcion-servicio {
    font-size: .9rem;
    line-height: 1.4rem;
    word-spacing: .1rem;
    position: relative;
    width: 90%;
    margin-left: .5rem;
    padding: .7rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    border-radius: .5rem;
}

.btn-servicio {
    outline: none;
    text-decoration: none;
    color: white;
    padding: .4rem;
    border: thin solid white;
    padding-left: .8rem;
    padding-right: .8rem;
    background-color: rgba(0, 0, 0, .6);
    font-size: .8rem;
    border-radius: 1rem;
    margin-left: 1rem;
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
}

.btn-servicio:hover {
    border: thin solid black;
    background-color: black;
    transition: all .5s ease;
}

@media (max-width: 799px) { 

    .titulo-servicios {
        margin-bottom: 2rem;
        padding-top: 2rem;
    }

    .container-servicios .servicio {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 3rem;
    }
 }

/* A N I M A C I O N E S  */

/* Define los estilos iniciales del elemento antes de la animación */
.fadeInLeft {
    opacity: 0; /* Inicialmente el elemento estará invisible */
    transform: translateX(-100px); /* También puedes ajustar la propiedad 'translateY' para cambiar la dirección de la animación */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Establece la duración y el efecto de la transición */
  }

.fadeInRight {
    opacity: 0; /* Inicialmente el elemento estará invisible */
    transform: translateX(100px); /* También puedes ajustar la propiedad 'translateY' para cambiar la dirección de la animación */
    transition: opacity 0.5s ease, transform 0.5s ease;
}
  
  /* Cuando el elemento tenga la clase 'fadeIn' y 'active', aplicará estos estilos animados */
  .active {
    opacity: 1; /* El elemento se volverá visible */
    transform: translateY(0); /* El elemento volverá a su posición original */
  }  
  

.animado {
    opacity: 0;
    transition: all .5s;
}


.mostrarArriba {
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Sección Responsiva */

@media screen and (max-width: 780px) {
    /* I N I C I O */

    #inicio .column1 {
        display: none;
    }

    #inicio .column2 {
        display: flex;
        flex: 0 0 100%;
    }

    .column2 .presentacion {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }
    /* C O N O C E N O S */
    #conocenos {
        background-size: cover;
    }

    #conocenos .container-propio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-propio .column1-conocenos .descripcion {
        padding: 1rem;
        background-color: rgba(0, 0, 0, .9);
    }

    .container-propio .column2-conocenos {
        display: none;
    }

    .navbar-propio .opciones-seccion {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    #inicio .column1 .cuadrado2 {
        width: 70%;
        right: 70px;
    }

    .descripcion img {
        height: 150px;
        width: auto;
    }
}

/* MEDIAQUERIES BOOSTRAP */

@media (max-width: 767.98px) { 

    /* B A R R A  D E  N A V E G A C I Ó N */

    .navbar-propio {
        justify-content: flex-start;
    }
}